<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="http://localhost:3000/movies/"><%=Rails.application.class.parent_name%></a></li>
      <li>
        <a href="http://localhost:3000/movies/">Movies</a>
      </li>
      <li><a href="http://localhost:3000/movies/new">Add New</a></li>
      <li><a href="http://localhost:3000/contact">Contact</a></li>
    </ul>
  </div>
</div>

    <div class="row">
      <div class="small-6 large-12 columns"><%= yield %></div>
    </div>


  </body>
</html>
